<div class="container">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary text-center">
        <div class="card-header py-3 text-white bg-primary border-primary">
        <% if current_account %>
          <h4 class="my-0 fw-normal">Start your quiz now</h4>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Take this quiz to see the best pet option for you!</h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Best pet size</li>
            <li>Best kennel</li>
            <li>Support for 30 days</li>
            <li>Help center access</li>
          </ul>
          <%= link_to "Take Quiz", browse_path, class: "btn btn-lg btn block btn-primary" %>
          <% else %>
          <h4 class="my-0 fw-normal">Start your quiz now</h4>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Take this quiz to see the best pet option for you!</h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Best pet size</li>
            <li>Best kennel</li>
            <li>Support for 30 days</li>
            <li>Help center access</li>
          </ul>
          <%= link_to "Take Quiz", new_account_registration_path, class: "btn btn-lg btn block btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>